<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GOfit+</title>


        <!-- cool font link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
        <!-- custom css file line -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style2.css') }}" />
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- header section starts-->
        <header class="header">
            <section class="header-title-line">
                <a href="#" class="logo">
                    <span>GOfit</span><span class="plus">+</span>
                </a>
                <button class="menu-btn">
                    <div id="menu-btn" class="menu-icon"></div>
                </button>
            </section>
            <nav class="navbar">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#features">Features</a> </li>
                    <li><a href="#Help">Help</a></li>
                    <li><a href="login">Log in</a></li>
                </ul>
            </nav>
        </header>
        <!-- header section ends-->

                <!-- custom js file link -->
        <script src="js/script.js"></script>
        <h2>
            <p>A path to A healthier life</p>
        </h2>
        <h3>
            <p>GOfit+ is a comprehensive fitness tracking platform that helps you:</p>
             <ul class="bullet">
                <li>Track your progress</li>
                <li>Set realstic goals</li>
                <li>Stay motivated</li>
             </ul>
        </h3>
        <h4>
            <button class="login"><a href="sign-up">Start Your Journey</a></button>
        </h4>
    </body>
</html>