<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href={{ url_for('static', filename="styles/register.css") }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% else %}
          <div class="success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="container">{% block content %} {% endblock %}</div>
  <body>
    <div class="container">
      <form method="POST">
        <div class="title">Register</div>
          <div class="input-box underline">
            <label for="email">Email</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter Your Email"
                required
            />
          <div class="underline"></div>
        </div>
        <div class="input-box underline">
          <label for="firstName">First Name</label>
          <input
              type="text"
              class="form-control"
              id="FirstName"
              name="firstName"
              placeholder="Enter Your First Name"
              required
          />
        <div class="underline"></div>
        </div>
        <div class="input-box underline">
          <label for="lastName">Last Name</label>
          <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              placeholder="Enter Your Last Name"
              required
          />
        <div class="underline"></div>
        </div>
        <div class="input-box">
          <label for="password1">New Password</label>
          <input
              type="password"
              id="password1"
              name="password1"
              placeholder="Create Your Password"
              required
            />
          <div class="underline"></div>
        </div>
        <div class="input-box">
          <label for="password2">Confirm New Password</label>
          <input
              type="password"
              id="password2"
              name="password2"
              placeholder="Confirm Your Password"
              required
            />
          <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input type="submit" name="" value="Continue">
        </div>
      </form>
  </body>
</html>